[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "content/BulletTime"]
	path = content/BulletTime
	url = git@github.com:AF-VCD/BulletTime.git
	branch = gh-pages
[submodule "content/AFBS"]
	path = content/AFBS
	url = git@github.com:AF-VCD/pdf-bullets.git
	branch = gh-pages
[submodule "content/bullet-synth"]
	path = content/bullet-synth
	url = git@github.com:AF-VCD/bullet-synth.git
