[submodule "themes/toha"]
	path = themes/toha
	url = https://github.com/hugo-toha/toha.git
[submodule "content/--branch"]
	path = content/--branch
	url = https://github.com/AF-VCD/pdf-bullets.git
[submodule "content/AFBS"]
	path = content/AFBS
	url = https://github.com/AF-VCD/pdf-bullets.git
	branch = gh-pages
[submodule "content/BulletTime"]
	path = content/BulletTime
	url = https://github.com/AF-VCD/BulletTime.git
	branch = gh-pages
[submodule "content/bullet-synth"]
	path = content/bullet-synth
	url = https://github.com/AF-VCD/bullet-synth.git
[submodule "content/BulletPress"]
	path = content/BulletPress
	url = https://github.com/cmdr0/bulletpress
[submodule "content/AFFitnessCalc"]
	path = content/AFFitnessCalc
	url = https://github.com/AndrewKemendo/airforcefitnesscalculator
[submodule "content/bullet-buddy"]
	path = content/bullet-buddy
	url = https://github.com/AF-Tools/bullet-buddy
